/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fffef1;
}

header {
    color: #fffef1;
    margin: 0 !important;
}

h1 {
    font-size: 20px;
    padding: 0 20px;
    margin: 5px 0;
    text-wrap: nowrap;
    
}

h4{
    display: block;
    padding: 0 0 5px 20px;
    margin: 0;
    font-size: 12px;
    text-wrap: nowrap;
}

nav {
    height: 120px;
    background-color: #0c273d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a,
nav label {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fffef1;
}

nav a:hover,
.links-container label.openOverlayBtn:hover {
    background-color: #fffef1;
    color: #0c273d;
}

#homeBtn:hover {
    background-color: #0c273d;
}

.headerLogoWrapper {
    height: 90px;
    display: flex;
    margin: 1rem 0 0 .75rem;
}

#homeBtn{
    padding: 0;
}

nav svg {
    fill:#fffef1 !important;
}

#sidebar-active,
#addLocation-active {
    display:none;
}
.openSidebarBtn,
.closeSidebarBtn{
    display: none;
}


#contact_form {
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

#contact_form input,
#contact_form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #2161a7;
    box-sizing: border-box;
}

button {
    background-color: #fffef1;
    color: #0c273d;
    display: flex;
    padding: .5em 2rem;
    justify-content: center;
    margin: 1rem auto 1rem auto;
    border-radius: 5px;
}

@media screen and (max-width: 620px){
    .links-container{
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        background-color: #0c273d;
        box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
        transition: .3s ease-out;
        z-index: 10;
    }
    nav a,
    nav label {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        justify-content: flex-start;
        height: 3rem;
    }
    .openSidebarBtn,
    .closeSidebarBtn{
    display: block;
    padding: 20px;
}
.openSidebarBtn{
    margin-left: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    
}
.closeSidebarBtn{
    margin-right: auto;
    margin-bottom: 2rem;
}
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
#overlay {
    display: none;
}
#sidebar-active:checked ~ #overlay{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

footer{
    display: flex;
    flex-direction: column;
}

footer img {
    display: none;
}

h4{
    text-wrap: wrap;
}
}

@media screen and (max-width: 770px){
    .overlayContent{
        display: flex !important;
        flex-direction: column;
    }
    
    #projectDocs {
    flex-direction: column !important;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
#projectDocs > div {
        width: fit-content;
        text-align: center;
        margin: 5px 0;
    }
}

/*website body on all pages*/

.body_text {
    max-width: 75ch;
    margin: 0 auto;
    padding: 0 2em;
}

#map {
    position: fixed;
    top: 120px;
    left: 0;
  height: calc(100vh - 120px) !important;
  width: 100vw !important;
  box-sizing: border-box;
  margin: 0rem !important;
  z-index: 0;
}

/*popups*/
.popup-content, ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c273d;
    border-radius: 5px;
    color: #fffef1;
    width: fit-content;
    height: fit-content;
    list-style-type: none;
    line-height: 1.5;
    padding: 1em;
}

.popup-content ol {
    padding: 1em;
}

.popup-content h3 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
}

.bathroom-photos {
    width: 20em;
    height: 100%;
    border-radius: 9px;
}

/*review form*/
#reviewForm{
    margin-top: auto;
    padding-bottom: 1rem;
    position: fixed;
    height: 50vh;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fffef1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
    border-top: 10px solid #0c273d;
    box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
    transition: bottom 0.35s ease-out;
    overflow: scroll;
}

#reviewForm {
    display: flex;
    align-items: center;
    padding: 2rem .5rem;
}

.addLocationHeading {
    top: 2rem !important;
}

.closeOverlayBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.overlayContent {
    margin: 10px !important;
    padding: 0 .5em;
    color: #0c273d;
    fill: #0c273d;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    align-items: flex-start;
}

.section1 {
    background-color: #2161a7;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    flex-direction: column;
}

.section1 label {
    font-weight: 200;
    margin: .5rem auto .2rem auto;
    color: #fffef1;
}

.section1 input {
    margin-bottom: .5rem;
    width: 100%;
}


.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "area-a area-b" "area-c area-c";
    gap: .5rem;
    align-items: center;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

.reviewMenu {
    height: 100%;
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
    background-color: #2161a7;
    color: #fffef1;
}

input[type="file"]::file-selector-button {
    background-color: #0c273d;
    color: #fffef1;
    padding: 8px 12px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #2161a7;
}

#rating {
    grid-area: area-a;
}

#bathroomPic {
    grid-area: area-b;
    width: 10rem;
}

#Submit {
    grid-area: area-c;
    background: #0c273d;
    color: #fffef1;
    border-radius: 6px;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 75%;
    max-width: 250px;
    margin: 1.5rem auto 0 auto;
    display: block;
}   

#Submit:hover {
    background-color: #2161a7;
}

#addLocation-active:checked ~ #reviewForm{
    bottom: 0;
}


#toilet-logo-container {
    position: fixed;
    bottom: -200px; 
    left: 1rem;
    z-index: 9000;
    transition: bottom .7s ease-out; 
    opacity: 1;
}

#toilet-logo-container #toilet-image {
    width: 10rem;
    height: auto;
    margin: 0;
    transition: opacity 0.3s ease-in-out;
}
.toilet-active {
    bottom: -130px !important;
    opacity: 1 !important;
}

/*about*/
.body_text {
    color: #0c273d;
    padding-top: 120px;
    min-height: calc(100vh - 120px -200px);
}

#projectDocs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75ch;
    margin: 1rem auto 1rem auto;
    padding: 0 2em;
}

h2{
    text-align: center;
    margin: 1rem;
}
h2+p {
    display: block;
    max-width: 75ch;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

.projectlinks {
    background-color: #0c273d;
    border-radius: 20px;
    padding: 1rem;
    margin: .5em;
}

.projectlinks a {
    color: #fffef1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.projectlinks:hover {
    background-color: #2161a7;
}