/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fffef1;
}

header {
    background-color: #fffef1;
    color: #0c273d;
    padding: 4rem 2rem 0 1rem;
    margin: 0 !important;
}

h1 {
    font-size: 40px;
    margin: 0 !important;
}

/*navigation*/

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: #fffef1;
    color: #0c273d;
    transform: translateX(-100%);
    transition: transform 0.2s;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

#menu.open {
    transform: translateX(0);
}

#menuBtn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 40px;
    height: 40px;
    padding: 2px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0c273d;
    border-radius: 7px;
}

#menuBtn span {
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fffef1;
    border-radius: 5px;
}

nav li {
    font-size: 20px;
}

#menu nav {
    flex: 1;
    display: flex;
}

#menu nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 0 !important;
}

.nav_bar a {
    display: block;
    padding: 10px 16px;
    background-color: #2161a7;
    color: #fffef1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_bar a:hover {
    background-color: #fffef1;
    color: #0c273d;
    transition: color 0.3s ease;
}

/*website body on all pages*/

.body_text {
    max-width: 75ch;
    min-width: 45ch;
    margin: 0 auto;
    padding: 0 2em;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
  height: 100vh !important;
  width: 100vw !important;
  box-sizing: border-box;
  margin: 0rem !important;
  z-index: 0;
}

/*footer
footer {
    background-color: #0c273d;
    color: #fffef1;
    margin-top: auto !important;
    display: block;
    grid-template-columns: 1fr 1fr;
}

footer > h1 {
    padding-bottom: 1rem;
}

footer img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#contact_form {
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

#contact_form input,
#contact_form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #2161a7;
    box-sizing: border-box;
}

button {
    background-color: #fffef1;
    color: #0c273d;
    display: flex;
    padding: .5em 2rem;
    justify-content: center;
    margin: 1rem auto 0 auto;
    border-radius: 5px;
}
*/
/*popups*/
.popup-content, ol {
    background-color: #0c273d;
    border-radius: 5px;
    color: #fffef1;
    width: fit-content;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    list-style-type: none;
    line-height: 1.5;
}

.bathroom-photos {
    width: 20em;
    height: 100%;
    border-radius: 5px;
}

/*review page*/

#review_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 75ch;
    margin: 0 auto;
    padding-bottom: 2rem;
}

#review_form input,
#review_form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #2161a7;
    box-sizing: border-box;
}

#reviewbtn {
    background-color: #2161a7;
    color: #fffef1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem 4rem;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-size: 30px;
}
