/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fffef1;
}

header {
    color: #fffef1;
    margin: 0 !important;
}

h1 {
    font-size: 20px;
    padding: 0 20px;
    margin: 5px 0;
    text-wrap: nowrap;
    
}

h4{
    display: block;
    padding: 0 0 5px 20px;
    margin: 0;
    font-size: 12px;
    text-wrap: nowrap;
}

nav {
    height: 80px;
    background-color: #0c273d;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 50;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a,
nav label {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fffef1;
}

nav a:hover,
.links-container label.openOverlayBtn:hover {
    background-color: #fffef1;
    color: #0c273d;
}


nav svg {
    fill:#fffef1 !important;
}

#sidebar-active,
#addLocation-active {
    display:none;
}
.openSidebarBtn,
.closeSidebarBtn{
    display: none;
}

footer {
    background-color: #0c273d;
    color: #fffef1;
    margin-top: auto !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer > h1 {
    padding-bottom: 1rem;
}

footer img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#contact_form {
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

#contact_form input,
#contact_form textarea {
    width: 100%;
    padding: .75rem;
    border: 1px solid #2161a7;
    box-sizing: border-box;
}

button {
    background-color: #fffef1;
    color: #0c273d;
    display: flex;
    padding: .5em 2rem;
    justify-content: center;
    margin: 1rem auto 0 auto;
    border-radius: 5px;
}

@media screen and (max-width: 620px){
    .links-container{
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        background-color: #0c273d;
        box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
        transition: .3s ease-out;
        z-index: 10;
    }
    nav a,
    nav label {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        justify-content: flex-start;
        height: 3rem;
    }
    .openSidebarBtn,
    .closeSidebarBtn{
    display: block;
    padding: 20px;
}
.openSidebarBtn{
    margin-left: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    
}
.closeSidebarBtn{
    margin-right: auto;
    margin-bottom: 2rem;
}
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
#overlay {
    display: none;
}
#sidebar-active:checked ~ #overlay{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

footer{
    display: flex;
    flex-direction: column;
}

footer img {
    display: none;
}

h4{
    text-wrap: wrap;
}
}

@media screen and (max-width: 770px){
    .overlayContent{
        display: flex !important;
        flex-direction: column;
    }
}

/*website body on all pages*/

.body_text {
    max-width: 75ch;
    margin: 0 auto;
    padding: 0 2em;
}

#map {
    position: fixed;
    top: 80px;
    left: 0;
  height: 100vh !important;
  width: 100vw !important;
  box-sizing: border-box;
  margin: 0rem !important;
  z-index: 0;
}

/*about*/
h2{
    text-align: center;
}
h2+p {
    display: block;
    max-width: 75ch;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

/*popups*/
.popup-content, ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0c273d;
    border-radius: 5px;
    color: #fffef1;
    width: fit-content;
    height: fit-content;
    list-style-type: none;
    line-height: 1.5;
    padding: 1em;
}

.popup-content ol {
    padding: 1em;
}

.popup-content h3 {
    padding: 1em;
}

.bathroom-photos {
    width: 20em;
    height: 100%;
    border-radius: 9px;
}

/*review form*/
#reviewForm{
    margin-top:auto;
    padding-bottom: 1rem;
    position: fixed;
    height: 50vh;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fffef1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
    border-top: 10px solid #0c273d;
    box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
    transition: bottom 0.35s ease-out;
    overflow: scroll;
}

.overlayContent {
    margin: 10px !important;
    padding: 0 .5em;
    color: #0c273d;
    fill: #0c273d;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    height: 100%;
}
.reviewMenu {
    height: 100%;
    align-items: center;
}

#Submit {
    background: #2161a7;
    color: #fffef1;
    border-radius: 6px;
    font-size: 1.2rem;
    text-transform: uppercase;
}   

#addLocation-active:checked ~ #reviewForm{
    bottom: 0;
}

h3 {
    margin-top: -10px !important;
}

/*about*/
.body_text {
    color: #0c273d;
}
